<!DOCTYPE html>
<html class="side-header side-header-right side-header-right-no-reverse">
<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>هوش ایمن |@ViewData["Title"]</title>

    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Porto - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

    <!-- Web Fonts  -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css"> -->
    <!-- Vendor CSS -->

    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v27.2.2/dist/font-face.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/Etecsho_Desinge/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Etecsho_Desinge/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/Etecsho_Desinge/vendor/animate/animate.min.css">
    <link rel="stylesheet" href="/Etecsho_Desinge/vendor/simple-line-icons/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="/Etecsho_Desinge/vendor/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/Etecsho_Desinge/vendor/owl.carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="/Etecsho_Desinge/vendor/magnific-popup/magnific-popup.min.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/Etecsho_Desinge/css/theme.css">
    <link rel="stylesheet" href="/Etecsho_Desinge/css/theme-elements.css">
    <link rel="stylesheet" href="/Etecsho_Desinge/css/theme-blog.css">
    <link rel="stylesheet" href="/Etecsho_Desinge/css/theme-shop.css">

    <!-- Current Page CSS -->
    <link rel="stylesheet" href="/Etecsho_Desinge/vendor/rs-plugin/css/settings.css">
    <link rel="stylesheet" href="/Etecsho_Desinge/vendor/rs-plugin/css/layers.css">
    <link rel="stylesheet" href="/Etecsho_Desinge/vendor/rs-plugin/css/navigation.css">
    <link rel="stylesheet" href="/Etecsho_Desinge/vendor/circle-flip-slideshow/css/component.css">

    <!-- Demo CSS -->
    <!-- Skin CSS -->
    <link rel="stylesheet" href="/Etecsho_Desinge/css/skins/default.css">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="/Etecsho_Desinge/css/custom.css">
    <!-- Skin CSS -->
    <link rel="stylesheet" href="/Etecsho_Desinge/css/skins/skin-corporate-11.css">
    <!-- Head Libs -->
    <script src="/Etecsho_Desinge/vendor/modernizr/modernizr.min.js"></script>

    <script type="text/javascript">!function(){function t(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,localStorage.getItem("rayToken")?t.src="https://api.raychat.io/scripts/js/"+o+"?rid="+localStorage.getItem("rayToken")+"&href="+window.location.href:t.src="https://api.raychat.io/scripts/js/"+o+"?href="+window.location.href;var e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(t,e)}var e=document,a=window,o="e75f022b-b9d0-4e85-a7a1-52af0ef01195";"complete"==e.readyState?t():a.attachEvent?a.attachEvent("onload",t):a.addEventListener("load",t,!1)}();</script>
</head>
<body>
    <div class="body">
        <div class="sticky-wrapper sticky-wrapper-transparent sticky-wrapper-effect-1 sticky-wrapper-border-bottom d-none d-lg-block d-xl-none" data-plugin-sticky data-plugin-options="{'minWidth': 0, 'stickyStartEffectAt': 100, 'padding': {'top': 0}}">
            <div class="sticky-body">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <div class="py-4">
                                <a href="/">
                                    <img class="ml-2" alt="Porto" width="82" height="40" data-change-src="/Etecsho_Desinge/img/logo.png" src="/Etecsho_Desinge/img/logo-default.png">
                                </a>
                            </div>
                        </div>
                        <div class="col-3 text-right">
                            <button class="hamburguer-btn hamburguer-btn-light hamburguer-btn-sticky-dark" data-set-active="false">
                                <span class="hamburguer">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <header id="header" class="side-header d-flex z-index-1">
            <div class="header-body">
                <div class="header-container container d-flex h-100">
                    <div class="header-column flex-row flex-lg-column justify-content-center h-100">
                        <div class="header-row flex-row justify-content-start justify-content-lg-center py-lg-5">
                            <button class="hamburguer-btn hamburguer-btn-side-header active d-none d-lg-block d-xl-none" data-set-active="false">
                                <span class="close">
                                    <span></span>
                                    <span></span>
                                </span>
                            </button>
                            <div class="header-logo">
                                <a href="/">
                                    <img class="d-lg-none d-xl-block" alt="Porto" width="100" height="48" src="/Etecsho_Desinge/img/Capture-d’écran-2018-04-11-à-17.39.30.png">
                                </a>
                            </div>
                        </div>
                        <div class="header-row header-row-side-header flex-row h-100 overflow-hidden pb-lg-5">
                            <div class="header-nav header-nav-links header-nav-links-side-header header-nav-links-vertical header-nav-links-vertical-slide align-self-center">
                                <div class="header-nav-main header-nav-main-square header-nav-main-dropdown-no-borders header-nav-main-effect-4 header-nav-main-sub-effect-1">
                                    <nav class="collapse">
                                        <ul class="nav nav-pills" id="mainNav">
                                            <li>
                                                <a href="/" class="br-s">خانه</a>
                                            </li>
                                            <li>
                                                <a href="/Products/Index" class="br-s">فروشگاه</a>
                                            </li>
                                            <li>
                                                <a href="/Blog/Index" class="br-s">اخبار و مقالات</a>
                                            </li>
                                            <li>
                                                <a href="/Blog/Video" class="br-s">ویدیو برتر</a>
                                            </li>
                                            <li>
                                                <a href="/Home/AboutUs" class="br-s">درباره ما</a>
                                            </li>
                                            <li>
                                                <a href="/Home/ContactUs" class="br-s">ارتباط با ما</a>
                                            </li>

                                            @if (User.Identity.IsAuthenticated)
                                            {
                                                <li>

                                                    <a href="@Url.Action("GoToUsersPanels" , "Account")" class="br-s"> ورورد به پنل</a>
                                                </li>

                                            }
                                            @if (!User.Identity.IsAuthenticated)
                                            {
                                                <li>

                                                    <a href="/Account/Login" class="br-s">وارد شوید</a>
                                                </li>

                                            }


                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="header-row justify-content-end pb-lg-3">
                            <ul class="header-social-icons social-icons d-none d-sm-block social-icons-clean d-sm-0">
                                <li class="social-icons-googleplus"><a target="_blank" href="https://web.whatsapp.com/send?phone=989382145193&amp;text=سلام سوالي داشتم از حضورتون"><i class="fab fa-whatsapp"></i></a></li>
                                <li class="social-icons-instagram"><a href="http://www.instagram.com/houshimen.ir" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                                <li class="social-icons-twitter"><a href="http://www.aparat.com/" target="_blank" title="Aparat"><img src="https://img.icons8.com/fluent-systems-filled/15/000000/aparat.png" /></a></li>
                            </ul>
                            <p class="d-none d-lg-block text-1 pt-3"></p>
                            <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main nav">
                                <i class="fas fa-bars"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </header>


        @*Content Area*@
        @RenderBody()

        <footer id="footer">
            <div class="container">
                <div class="footer-ribbon">
                    <span>در تماس باشید</span>
                </div>
                <div class="row py-5 my-4">
                    <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                        <h5 class="text-3 mb-3 txr">نماد ها</h5>
                        <a referrerpolicy="origin" target="_blank" href="https://trustseal.enamad.ir/?id=214936&amp;Code=WZqAnQisBiNox6X38QAF"><img referrerpolicy="origin" src="https://Trustseal.eNamad.ir/logo.aspx?id=214936&amp;Code=WZqAnQisBiNox6X38QAF" alt="" style="cursor:pointer" id="WZqAnQisBiNox6X38QAF"></a>
                        <!-- <p class="pr-1 txr">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</p> -->
                        <!-- <div class="alert alert-success d-none" id="newsletterSuccess">
                            <strong>Success!</strong> You've been added to our email list.
                        </div>
                        <div class="alert alert-danger d-none" id="newsletterError"></div>
                        <form id="newsletterForm" action="php/newsletter-subscribe.php" method="POST" class="mr-4 mb-3 mb-md-0">
                            <div class="input-group input-group-rounded">
                                <input class="form-control form-control-sm bg-light" placeholder="ایمیل شما" name="newsletterEmail" id="newsletterEmail" type="text">
                                <span class="input-group-append">
                                    <button class="btn btn-light text-color-dark" type="submit"><strong>بریم</strong></button>
                                </span>
                            </div>
                        </form> -->
                    </div>
                    <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                        <h5 class="text-3 mb-3 txr">آخرین اخبار</h5>
                        <div id="tweet" class="twitter" data-plugin-tweets="" data-plugin-options="{'username': 'oklerthemes', 'count': 2}">
                            <p class="txr">صبر کنید...</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
                        <div class="contact-details">
                            <h5 class="txr text-3 mb-3">ارتباط با ما</h5>
                            <ul class="list list-icons list-icons-lg">
                                <li class="mb-1 txr"><p class="m-0">ساری خیابان معلم - نبش معلم  30  <i class="far fa-dot-circle text-color-primary margin10"></i></p></li>
                                <li class="mb-1 txr"><p class="m-0"><a href="tel:8001234567">(011)33269932</a><i class="fab fa-whatsapp text-color-primary margin10"></i></p></li>
                                <li class="mb-1 txr"><p class="m-0"><a href="mailto:info@houshimen.ir">info@houshimen.ir</a><i class="far fa-envelope text-color-primary margin10"></i></p></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-2">
                        <h5 class="text-3 mb-3 txr">َشبکه های اجتماعی ما</h5>
                        <ul class="social-icons">
                            <li class="social-icons-instagram"><a href="http://www.instagram.com/houshimen.ir" target="_blank" title="Facebook"><i class="fab fa-instagram"></i></a></li>
                            <li class="social-icons-skype"><a href="https://web.whatsapp.com/send?phone=989382145193&amp;text=سلام سوالي داشتم از حضورتون" target="_blank" title="Twitter"><i class="fab fa-whatsapp"></i></a></li>
                            <li class="social-icons-aparat"><a href="http://www.aparat.com/" target="_blank" title="Twitter"><img src="https://img.icons8.com/fluent-systems-filled/15/000000/aparat.png" /></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container py-2">
                    <div class="row py-4">
                        <div class="col-lg-1 d-flex align-items-center justify-content-center justify-content-lg-start mb-2 mb-lg-0">
                            <a href="index.html" class="logo pr-0 pr-lg-3">
                                <!-- <img alt="Porto Website Template" src="img/logo-footer.png" class="opacity-5" height="33"> -->
                            </a>
                        </div>
                        <div class="col-lg-12 d-flex align-items-center justify-content-center justify-content-lg-start mb-4 mb-lg-0">
                            <p>استفاده از مطالب این سایت فقط برای مقاصد غیرتجاری و با ذکر منبع بلامانع است و تمامی حقوق متعلق به شرکت سیستم‌های حفاظتی تکشو الکترونیکی می‌باشد.</p>
                        </div>
                        <!-- <div class="col-lg-4 d-flex align-items-center justify-content-center justify-content-lg-end">
                            <nav id="sub-menu">
                                <ul>
                                    <li><i class="fas fa-angle-right"></i><a href="page-faq.html" class="ml-1 text-decoration-none">درباره ما</a></li>
                                    <li><i class="fas fa-angle-right"></i><a href="sitemap.html" class="ml-1 text-decoration-none"> Sitemap</a></li>
                                    <li><i class="fas fa-angle-right"></i><a href="contact-us.html" class="ml-1 text-decoration-none">ارتباط با ما</a></li>
                                </ul>
                            </nav>
                        </div> -->
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- Vendor -->
    <script src="/Etecsho_Desinge/vendor/jquery/jquery.min.js"></script>
    <script src="/Etecsho_Desinge/vendor/jquery.appear/jquery.appear.min.js"></script>
    <script src="/Etecsho_Desinge/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="/Etecsho_Desinge/vendor/jquery.cookie/jquery.cookie.min.js"></script>
    <script src="/Etecsho_Desinge/vendor/popper/umd/popper.min.js"></script>
    <script src="/Etecsho_Desinge/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/Etecsho_Desinge/vendor/common/common.min.js"></script>
    <script src="/Etecsho_Desinge/vendor/jquery.validation/jquery.validate.min.js"></script>
    <script src="/Etecsho_Desinge/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
    <script src="/Etecsho_Desinge/vendor/jquery.gmap/jquery.gmap.min.js"></script>
    <script src="/Etecsho_Desinge/vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
    <script src="/Etecsho_Desinge/vendor/isotope/jquery.isotope.min.js"></script>
    <script src="/Etecsho_Desinge/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="/Etecsho_Desinge/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="/Etecsho_Desinge/vendor/vide/jquery.vide.min.js"></script>
    <script src="/Etecsho_Desinge/vendor/vivus/vivus.min.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="/Etecsho_Desinge/js/theme.js"></script>

    <!-- Current Page Vendor and Views -->
    <script src="/Etecsho_Desinge/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="/Etecsho_Desinge/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="/Etecsho_Desinge/vendor/circle-flip-slideshow/js/jquery.flipshow.min.js"></script>
    <script src="/Etecsho_Desinge/js/views/view.home.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/jquery.validate.unobtrusive.js"></script>
    <!-- Theme Custom -->
    <script src="/Etecsho_Desinge/js/custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="/Etecsho_Desinge/js/theme.init.js"></script>
    @RenderSection("Scripts", false)

    <!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information.
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-12345678-1', 'auto');
        ga('send', 'pageview');
    </script>
     -->

</body>
</html>

